<!doctype html>
<header>
  <%- include("header.ejs") -%>
</header>

<body>

<nav>
        <a href="/home"><img id="home" src="static/images/logo-datingssite.png"></a>
  <ul>
    <li><a href="/boost">
        <img src="static/images/boost.png">
            <div class="notification"><p class="number" >1</p></div>
        </a>
    </li>

    <li><a href="/likes">
        <img src="static/images/likes.png">

            <div class="notification"><p class="number" >5</p></div></a></li>

    <li><a href="/messages">
        <img class="unactive" src="static/images/messages.png">

            <div class="notification"><p class="number" >2</p></div></a></li>
  </ul>
</nav>

<main>
  <p>Welcome to Matchie!</p>
</main>

<script type="text/javascript">
</script>
</body>
