<!doctype html>
<header>
  <%- include("../header.ejs") -%>
</header>
  <body>

    <main>
      <label> Boost
        <input type="number" name="boost" value=""></input>
      </label>

      <label> Likes
        <input type="number" name="likes" value=""></input>
      </label>

      <label> Messages
        <input type="number" name="messages" value=""></input>
      </label>
    </main>

    <button name="button">Ok</button>

<%- include("../script.ejs") -%>
</script>
</body>
