<!doctype html>
<header>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <link href="https://fonts.googleapis.com/css?family=Hind&display=swap" rel="stylesheet">
  <title>Update</title>
</header>
  <body>

    <main>
    <form action="/updateNotifications" method="post">
      <label> Boost
        <input type="number" name="inBoost"></input>
      </label>

      <label> Likes
        <input type="number" name="inLikes"></input>
      </label>

      <label> Messages
        <input type="number" name="inMessages"></input>
      </label>
    </main>
    <form>

    <button name="button" href="output.ejs" >Ok</button>

<%- include("../script.ejs") -%>
</script>
</body>
