<!doctype html>
<header>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <link href="https://fonts.googleapis.com/css?family=Hind&display=swap" rel="stylesheet">
  <title>Update</title>
</header>
  <body>

    <main>
    <form action="/updateNotifications" method="post">
      <label> Boost
        <input type="number" name="updateBoost"></input>
      </label>

      <label> Likes
        <input type="number" name="updateLikes"></input>
      </label>

      <label> Messages
        <input type="number" name="updateMessages"></input>
      </label>
      <input type="hidden" name="_id" value="<%= _id %>"></input>

<button name="button" type="submit" >Ok</button>

    </form>
    </main>



<%- include("../script.ejs") -%>
</script>
</body>
