font-family: 'Hind', sans-serif;

/*NAV*/
body {
  font-family: 'Hind', sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  width: 100%;
}

ul {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

li {
  list-style: none;
}

a {
    margin: 1em;
    text-decoration: none;
}

img {
  width: 2.3em;
}

#home {
  width: 4em;
}
/*END NAV*/

/*MAIN*/
p {
  font-family: 'Hind', sans-serif;
  display: flex;
  justify-content: center;
}





/*END MAIN*/

div {
  background-color: red;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  left: 2.5em;
  bottom: 3.3em;
  color: white;
}

#notification {
  position: relative;
  bottom: .1em;
  font-size: .75em;
}
