
  <title>Add a Movie!</title>

  <body>
    <main>

  <section>

        <form class="movies" action="/add-movie" method="post">

          <label for=""><input name="Title"></label>

          <label for="">
            Plot
            <input type="text" name="Plot" value="">
          </label>

          <label for="">
            Discription
            <textarea name="Discription" rows="8" cols="80"></textarea>
          </label>

          <button name="button">Add</button>

        </form>

  </section>

    </main>

  </body>
