<!doctype html>
<header>
  <%- include("header.ejs") -%>
</header>

<body>
  <main>
    <h1> <%= type %> </h1>
    <h1> <%= value %> </h1>

<section>

</section>

  </main>

<script type="text/javascript">
</script>
</body>
