font-family: 'Hind', sans-serif;

body {
  background-color: white;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  width: 100%;
}

ul {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

li {
  list-style: none;
}

a {
    margin: 1em;
    text-decoration: none;
}

img {
  width: 2.3em;
}

#home {
  width: 4em;
}
